@reference "tailwindcss";

@utility button {
  @apply rounded-lg shadow-xs  bg-indigo-600 text-slate-100;
  @apply text-sm font-bold;
  @apply px-4 py-2;
  @apply flex justify-between items-center gap-4;
  @apply hover:bg-indigo-500 focus:bg-indigo-700;
  @apply hover:bg-indigo-500;
  @apply focus:bg-indigo-700;
}

.button {
  @apply button;
  /* @apply rounded-lg shadow-md bg-indigo-400 text-gray-50;
  @apply text-sm font-bold;
  @apply px-4 py-2;
  @apply flex justify-between items-center gap-4;
  @apply hover:bg-indigo-500;
  @apply focus:bg-indigo-700; */
}

.dialogWrapper {
  @apply fixed inset-0 z-30 flex items-center justify-center w-full h-full bg-transparent backdrop:bg-transparent;
}

.backdrop {
  @apply fixed inset-0 bg-gray-500/75;
}

.dialog {
  /* @apply bg-white rounded-lg shadow-xl overflow-hidden max-w-lg w-full; */
  @apply z-50 flex items-center justify-center p-4 text-left w-md;
}

.dialogPanel {
  @apply rounded-lg shadow-lg bg-white w-full;
}

.dialogPanelContent {
  @apply px-5 pt-5 pb-4 rounded-lg grid gap-4;
}

.dialogTitle {
  @apply text-lg leading-none font-semibold;
}

.formControl {
  @apply flex flex-col;
  @apply mb-4;
  @apply relative;
}

.label {
  @apply flex items-center gap-2 text-sm leading-none font-medium mb-0.5;
}

.input {
  @apply border border-gray-300 rounded-md mt-1.5 mb-2 px-3 py-2 shadow-xs text-xs;
  @apply focus-visible:ring-indigo-100/50 focus-visible:ring-[3px] focus-visible:border-indigo-300/50;
  @apply focus-visible:outline-indigo-300/50;
  @apply relative;
}

.select {
  @apply appearance-none;
  @apply border border-gray-300 rounded-md mt-1.5 mb-2 pl-2 pr-2 py-2 shadow-xs text-xs;
  @apply focus-visible:ring-indigo-100/50 focus-visible:ring-[3px] focus-visible:border-indigo-300/50;
  @apply focus-visible:outline-indigo-300/50;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

.textarea {
  @apply border border-gray-300 rounded-md mt-1.5 mb-2 px-3 py-2 shadow-xs text-xs;
  @apply focus-visible:ring-indigo-100/50 focus-visible:ring-[3px] focus-visible:border-indigo-300/50;
  @apply focus-visible:outline-indigo-300/50;
}

.dialogFooter {
  @apply flex justify-end items-center gap-2;
}

.primary {
  @apply button;
  @apply font-semibold;
  @apply border border-indigo-400;
  @apply cursor-pointer;
  @apply disabled:cursor-not-allowed disabled:bg-slate-500/50 border-none;
}

.cancel {
  @apply button;
  @apply bg-white text-slate-900 font-normal;
  @apply border border-slate-200 hover:border-red-500;
  @apply hover:text-red-500 hover:bg-red-100;
  @apply cursor-pointer;
}
